In [ ]:
import pandas as pd   
#__________________________

# Reemplaza 'archivo.csv' con el nombre o la ruta de tu archivo CSV
ruta_archivo = r"C:\Temp\PUB_EMPRESAS_AGRUPADO.CSV"
df = pd.read_csv(ruta_archivo, encoding='utf-8')  # Usa encoding='latin1' si tienes caracteres especiales

# Verifica las primeras filas
print(df.head())

In [10]:
# Diccionario de renombre limpio
df_agrupado = df.rename(columns={
    'RUT': 'rut',
    'DV_first': 'dv',
    'Razón social_first': 'razon_social',
    'Fecha inicio de actividades vige_first': 'fecha_inicio_actividades_',
    'Fecha término de giro_first': 'fecha_termino_giro',
    'Fecha primera inscripción de ac_first': 'fecha_primera_inscripcion',
    'Tipo término de giro_first': 'tipo_termino_giro',
    'Tipo de contribuyente_first': 'tipo_contribuyente',
    'Subtipo de contribuyente_first': 'subtipo_contribuyente',
    'Rubro económico_first': 'rubro_economico',
    'Subrubro económico_first': 'subrubro_economico',
    'Actividad económica_first': 'actividad_economica',
    'Región_first': 'region',
    'Provincia_first': 'provincia',
    'Comuna_first': 'comuna',
    'R_PRESUNTA_first': 'r_presunta',
    'OTROS_REGIMENES_first': 'otros_regimenes',
    'Anno_min': 'anno_min',
    'Anno_max': 'anno_max',
    'Trabajadores_min': 'trabajadores_min',
    'Trabajadores_max': 'trabajadores_max',
    'Ventas_min': 'ventas_min',
    'Ventas_max': 'ventas_max',
    'Tramo_capital_propio_positivo_min': 'tramo_capital_positivo_min',
    'Tramo_capital_propio_positivo_max': 'tramo_capital_positivo_max',
    'Tramo_capital_propio_negativo_min': 'tramo_capital_negativo_min',
    'Tramo_capital_propio_negativo_max': 'tramo_capital_negativo_max',
    'Numero_de_annos': 'numero_annos',
    'Termino_Giro': 'termino_giro'
})

In [ ]:
df_agrupado.info

In [11]:
df_agrupado

,rut,dv,razon_social,fecha_inicio_actividades_,fecha_termino_giro,fecha_primera_inscripcion,tipo_termino_giro,tipo_contribuyente,subtipo_contribuyente,rubro_economico,...,trabajadores_min,trabajadores_max,ventas_min,ventas_max,tramo_capital_positivo_min,tramo_capital_positivo_max,tramo_capital_negativo_min,tramo_capital_negativo_max,numero_annos,termino_giro
0,47003012,7,TACONIC OPPORTUITY FUND LP,NaN,NaN,NaN,NaN,SOCIEDADES EXTRANJERAS,SOCIEDAD EXTRANJERA RES 5412/2000,ACTIVIDADES FINANCIERAS Y DE SEGUROS,...,0,0,1,1,NaN,NaN,NaN,NaN,1,0
1,47003030,5,CAPLIMIT INVESTMENTS BV,NaN,2014-08-14,2013-12-19,TERMINO DE GIRO PERSONA NATURAL,SOCIEDADES EXTRANJERAS,SOCIEDAD EXTRANJERA RES 5412/2000,ACTIVIDADES FINANCIERAS Y DE SEGUROS,...,0,0,2,2,NaN,NaN,8.0,8.0,1,1
2,47003194,8,RUT CUSTODIO LARRAIN VIAL S A.,NaN,NaN,NaN,NaN,SOCIEDADES EXTRANJERAS,SOCIEDAD EXTRANJERA RES 5412/2000,Valor por Defecto,...,0,0,4,4,7.0,7.0,NaN,NaN,1,0
3,47003969,8,RUT CUSTODIO LARRAIN VIAL S A.,NaN,NaN,NaN,NaN,SOCIEDADES EXTRANJERAS,SOCIEDAD EXTRANJERA RES 5412/2000,Valor por Defecto,...,0,0,1,1,NaN,NaN,NaN,NaN,1,0
4,47012566,7,BBVA CORREDORA DE BOLSA LIMITADA,NaN,NaN,NaN,NaN,SOCIEDADES EXTRANJERAS,SOCIEDAD EXTRANJERA RES 5412/2000,Valor por Defecto,...,0,0,2,2,NaN,NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558275,99599800,9,AUTOMOTRIZ P.G CAR S.A,NaN,2016-12-28,2005-07-01,TERMINO DE GIRO PERSONA JURIDICA,PERSONA JURIDICA COMERCIAL,SOCIEDADES ANONIMAS CERRADAS,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,...,3,6,2,4,5.0,5.0,1.0,1.0,3,1
1558276,99599810,6,COMPANIA DE TRANSPORTES INTEGRADOS S A,NaN,2017-01-30,2005-07-01,TERMINO DE GIRO PERSONA JURIDICA,PERSONA JURIDICA COMERCIAL,SOCIEDADES ANONIMAS CERRADAS,TRANSPORTE Y ALMACENAMIENTO,...,0,0,5,7,7.0,9.0,NaN,NaN,8,1
1558277,99599830,0,INMOBILIARIA E INVERSIONES PUCARA S A,NaN,2016-02-17,2005-07-01,TERMINO DE GIRO PERSONA JURIDICA,PERSONA JURIDICA COMERCIAL,SOCIEDADES ANONIMAS CERRADAS,ACTIVIDADES FINANCIERAS Y DE SEGUROS,...,0,0,1,2,7.0,9.0,NaN,NaN,7,1
1558278,99599850,5,SOLUCIONES ABIERTAS S A,2005-07-01,NaN,2005-07-01,NaN,PERSONA JURIDICA COMERCIAL,SOCIEDADES ANONIMAS CERRADAS,INFORMACION Y COMUNICACIONES,...,12,14,4,5,NaN,NaN,7.0,7.0,2,0
1558279,99599860,2,ORAND SA,2005-07-01,NaN,2005-07-01,NaN,PERSONA JURIDICA COMERCIAL,SOCIEDADES ANONIMAS CERRADAS,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,...,5,29,5,7,7.0,10.0,7.0,9.0,19,0

In [6]:
df_agrupado.isnull().sum()

rut                                        0
dv_first                                   0
razon_social_first                         4
fecha_inicio_de_actividades_first     335047
fecha_termino_de_giro_first          1242037
fecha_primera_inscripcion_first         4186
tipo_termino_de_giro_first           1242037
tipo_de_contribuyente_first                0
subtipo_de_contribuyente_first             0
rubro_economico_first                      0
subrubro_economico_first                   0
actividad_economica_first                  0
region_first                               0
provincia_first                            0
comuna_first                               0
r_presunta_first                     1516067
otros_regimenes_first                 328365
anno_min                                   0
anno_max                                   0
trabajadores_min                           0
trabajadores_max                           0
ventas_min                                 0
ventas_max                                 0
tramo_capital_propio_positivo_min     481755
tramo_capital_propio_positivo_max     481755
tramo_capital_propio_negativo_min     953340
tramo_capital_propio_negativo_max     953340
numero_de_annos                            0
termino_giro                               0
dtype: int64

In [9]:
df_agrupado[df_agrupado['fecha_primera_inscripcion_first'].isnull()][['fecha_inicio_de_actividades_first', 'fecha_primera_inscripcion_first']]

        fecha_inicio_de_actividades_first fecha_primera_inscripcion_first
0                                     NaN                             NaN
2                                     NaN                             NaN
3                                     NaN                             NaN
4                                     NaN                             NaN
474                                   NaN                             NaN
...                                   ...                             ...
1520325                               NaN                             NaN
1523107                        1993-01-01                             NaN
1528414                               NaN                             NaN
1528510                        1993-01-01                             NaN
1542850                               NaN                             NaN

[4186 rows x 2 columns]